<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the home page</h1>
    <p>everything starts from here but doesnt end just like it ...</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illo voluptates reiciendis unde libero, eligendi obcaecati quo delectus, doloribus iusto, incidunt modi nisi! Quae mollitia tenetur expedita sint est temporibus.</p>
</body>
</html>